/* Definições de Tipografia Globais */
body {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.01em;
}

.font-logo {
    font-family: 'Montserrat', sans-serif;
}

/* Estilização Manual de Inputs e Botões do Bootstrap */
.form-control:focus {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: #22d3ee !important;
    box-shadow: 0 0 0 0.25rem rgba(34, 211, 238, 0.15) !important;
    color: #fff !important;
}

.btn-cyan {
    background-color: #22d3ee;
    border-color: #22d3ee;
    color: #000;
    transition: all 0.3s ease;
}

.btn-cyan:hover {
    background-color: #06b6d4;
    border-color: #06b6d4;
    transform: translateY(-2px);
}

.btn-outline-purple {
    border-color: #4c1d95;
    background-color: rgba(76, 29, 149, 0.1);
}

.btn-outline-purple:hover {
    border-color: #22d3ee;
    background-color: transparent;
}

/* Efeitos Visuais das Boxes de Vantagens */
.hover-border-cyan:hover {
    border-color: rgba(33, 211, 238, 0.5) !important;
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(34, 211, 238, 0.05);
}

.hover-border-fuchsia:hover {
    border-color: rgba(217, 70, 239, 0.5) !important;
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(217, 70, 239, 0.05);
}

article {
    transition: all 0.3s ease;
}
